.language-selector {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &_locale {
        color: white;
        &--selected {
            font-weight: 700;
        }
    }

    &_separator {
        background-color: $white;
        width: 1px;
        height: 15px;
        margin: 0 10px;
    }
}