.services {
    position: relative;

    &_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include font-size(60px);
            margin-top: 100px;
            margin-bottom: 75px;
        }

        &__services-list, .services-list {
            &_item {
                display: flex;
                align-items: center;
                height: 60px;
                width: 500px;

                &:not(:first-child) {
                    margin-top: 100px;
                }

                &__icon {
                    flex-basis: 170px;
                    height: 100%;
                    background-color: $white;
                }

                &__separator {
                    height: 100%;
                    position: relative;
                    padding: 0 20px;
                    
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 1px;
                        background-color: $white;
                        height: 40px;
                    }
                }

                &__content {
                    flex-grow: 1;
                    height: 60px;
                    background-color: $white;
                }
            }
        }
    }

    &_illustration {
        position: absolute;
        bottom: -8000px;
        transition: bottom, 1.5s ease-in-out;
        background-color: red;

        &.animation-slide-bottom-appear {
            &-active, &-done {
                bottom: 0;
            }
        }
    }
}