.productions {
    position: relative;

    &_content {
        height: 100%;
        width: 50%;
        margin-left: 50%;
        display: flex;
        justify-content: start;
        align-items: center;

        @include media-breakpoint-down($sm) {
            width: 100%;
            height: unset;
            margin: 0;
            align-items: unset;
            justify-content: center;
            padding-bottom: 80px;
        }

        @include media-breakpoint-down($xs) {
            padding-bottom: 50px;
        }

        &__description {
            margin-left: 100px;
            max-width: 500px;
            color: $white;
            transition: color 1s ease-in-out;

            &--black {
                color: $black;
            }

            @media (max-width: 1500px) {
                margin-left: 50px;
            }

            @media (max-width: 1400px) {
                max-width: 400px;
            }

            @media (max-width: 1200px) {
                margin-left: 25px;
                max-width: 300px;
            }

            @include media-breakpoint-down($sm) {
                margin-left: unset;
                max-width: 400px;
                text-align: center;
            }

            h2 {
                font-weight: 700;
                @include font-size(60px);
                padding-bottom: 20px;

                @include media-breakpoint-down(1300px) {
                    @include font-size(50px)
                }

                @include media-breakpoint-down($sm) {
                    @include font-size(60px);
                }

                @include media-breakpoint-down($xxs) {
                    @include font-size(50px);
                }
            }

            p {
                width: 100%;
                @include font-size(20px);
                line-height: 22px;

                @media (max-width: 1300px) {
                    @include font-size(17px);
                    line-height: 16px;
                }

                @media (max-width: 1200px) {
                    @include font-size(16px);
                }

                @include media-breakpoint-down($sm) {
                    @include font-size(22px);
                    line-height: 18px;
                }
            }
        }
    }

    &_recover {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
        transition: height $recover_duration $recover_speed;
        overflow: hidden;
        height: 0;

        &--open {
            @include responsive_rule("height", "calc(SHELL_HEIGHT + RECOVER_OVERFLOW)");
        }
    
        &__content, .recover {
            background-color: $white;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            box-sizing: border-box;
            padding: 0 30px;
            @include responsive_rule("height", "calc(SHELL_HEIGHT + RECOVER_OVERFLOW)");

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50px;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $black;
            }

            &-content {
                height: calc(100% - 150px);
                padding: 0 40px;
                margin: 150px auto 0 auto;

                @media (max-width: 1520px) {
                    padding: 0;
                }  

                &_container {
                    height: 100%;
                    width: 100%;
                    overflow: auto;
                    overflow-x: hidden;

                    &__grid, .productions-grid {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, 150px);
                        grid-auto-rows: 150px;
                        grid-gap: 35px;
                        padding: 0 40px 50px 40px;

                        @media (max-width: 1750px) {
                            grid-template-columns: repeat(auto-fill, 180px);
                            justify-content: center;
                        }

                        @media (max-width: 1520px) {
                            grid-template-columns: repeat(auto-fill, 150px);
                            justify-content: center;
                        }

                        @media (max-width: 1150px) {
                            grid-template-columns: repeat(auto-fill, 200px);
                            justify-content: center;
                        }

                        @include media-breakpoint-down($md) {
                            grid-template-columns: repeat(auto-fill, 150px);
                        }
        
                        &_item {
                            height: 100%;
                            border: 2px solid $black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
                            cursor: pointer;
        
                            &:hover, &--selected {
                                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                            }
        
                            &__logo {
                                max-width: 100px;
                                max-height: 100px;
                            }
                        }
                    }
                }
            }
        }

        &__productions-details {
            height: 100%;
            background-color: $white;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transition: width $recover_duration $recover_speed;
            overflow: hidden;
            
            &___container {
                height: 100%;
                padding: 150px 50px 0 50px;
                position: relative;
                box-sizing: border-box;
                @include responsive_rule("width", "calc(SHELL_WIDTH / 2)");

                @media (max-width: 1300px) {
                    padding: 150px 30px 0 30px;
                }

                &____close {
                    left: 60px;
                    top: 100px;
                    height: 22px;
                    cursor: pointer;
                    position: absolute;

                    @media (max-width: 1300px) {
                        left: 30px;
                    }
                }
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50px;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $black;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: calc(100% - 200px);
                width: 1px;
                background-color: $black;
                top: 50%;
                transform: translateY(-50%);
                left: 1px;
            }

            &--open {
                width: 50%;
            }
        }
    }

    &_mobile-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-auto-rows: 150px;
        grid-gap: 20px;
        padding: 0 40px 50px 40px;
        justify-content: center;

        @include media-breakpoint-down($xs) {
            grid-template-columns: 1fr;
            padding: 0 20px 30px 20px;
        }

        .productions-grid_item {
            height: 100%;
            border: 2px solid $black;
            display: flex;
            justify-content: center;
            align-items: center;

            &__logo {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }

    &_mobile-details-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $white;
        z-index: 3;

        &__close {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 20px;
            z-index: 1;
            background-color: $white;
        }

        .productions-details {
            padding: 70px 30px 30px 30px;
        }
    }
}

.productions-details {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 50px 60px 0;
    box-sizing: border-box;

    @media (max-width: 1300px) {
        padding: 0 30px 60px 0;
    }

    &_meta {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        min-height: 70px;
        margin-bottom: 30px;

        @include media-breakpoint-down($sm) {
            flex-direction: column-reverse;
            justify-content: unset;
            align-items: center;
        }

        img {
            max-width: 150px;
            max-height: 50px;
        }

        &__infos {
            margin-right: 30px;

            @include media-breakpoint-down($sm) {
                text-align: center;
                margin-right: unset;
                margin-top: 30px;
            }

            &___title {
                font-weight: 600;
                color: $yellow;
                @include font-size(18px);
                margin-bottom: 10px;
                display: block;

                @include media-breakpoint-down($sm) {
                    @include font-size(22px);
                }
            }

            &___date {
                font-weight: 500;
                color: $black;
                @include font-size(16px);

                @include media-breakpoint-down($sm) {
                    @include font-size(20px)
                }
            }
        }
    }

    &_section {
        margin-top: 40px;
        width: 100%;
        color: $black;

        @include media-breakpoint-down($sm) {
            margin-top: 30px;
        }

        &--first {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__type-chip {
            background-color: $lightyellow;
            color: $white;
            height: 30px;
            text-transform: uppercase;
            @include font-size(16px);
            font-weight: 600;
            text-align: center;
            line-height: 30px;
            border-radius: 2px;
            display: inline-block;
            padding: 0 15px;
        }

        &_outlinks {
            display: flex;

            .outlink-chip-container {
                height: 30px;
                width: 30px;
                cursor: pointer;
                display: block;

                &:not(:first-child) {
                    margin-left: 10px;
                }

                .outlink-chip {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px; 
                }
            }
        }

        &__github-chip {
            background-color: $lightblack;

            img {
                width: 100%;
            }
        }

        &__browser-chip {
            background-color: $white;
            border: 1px solid $lightblack;
            box-sizing: border-box;

            img {
                width: 20px;
            }
        }

        &__presentation {
           margin-top: 80px;

           @include media-breakpoint-down($sm) {
               margin-top: 40px;
           }
        }

        &__title {
            text-transform: uppercase;
            @include font-size(16px);
            font-weight: 500;

            @include media-breakpoint-down($sm) {
                @include font-size(18px);
            }
        }

        &__content {
            margin-top: 20px;
            @include font-size(15px);
            line-height: 18px;

            @include media-breakpoint-down($sm) {
                @include font-size(16px);
            }
        }

        &__skills-list, .skills-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;

            &_item {
                height: 25px;
                line-height: 25px;
                box-sizing: border-box;
                padding: 0 10px;
                border: 1px solid $black;
                cursor: pointer;
                @include font-size(15px);
                text-transform: uppercase;
                background-color: $white;
                color: $black;
                font-weight: 500;
                transition: all .1s ease-in;
                margin-right: 10px;
                margin-bottom: 10px;

                &:hover {
                    background-color: $black;
                    color: $white;
                }

                @include media-breakpoint-down($sm) {
                    @include font-size(17px);
                    margin-right: 15px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.recover-logo {
    z-index: 1;
}