.shell {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        rect {
            stroke: $white;
            stroke-width: 3px;
            height: 100%;
            fill: none;
            transition-property: width, stroke-dashoffset;
            transition-duration: 1.5s;
            transition-timing-function: ease-in-out;

            &.half {
                width: calc(50% - 15px) !important;
            }
        }

        &.animation-stroke-appear {
            &-active, &-done {
                rect {
                    stroke-dashoffset: 0 !important;
                }
            }
        }
    }

    &_language {
        bottom: 0;
        right: $shell_padding;
        transform: translateY(50%);
        height: 90px;
        padding: 0 10px;
    }

    &_contact-btn {
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
        height: 90px;
        padding: 0 10px;
        z-index: 3;
    }

    &_recover {
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 0;
        background-color: $white;
        z-index: 2;
        transition: height 1s ease-in-out;
        overflow: hidden;

        &__content, .recover {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            &_border {
                position: absolute;
                top: 50px;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $black;
            }
        }
    }
}

.stroke-hidder {
    position: absolute;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    &.dark {
        background-color: $white;
    }
}

.shell_logo {
    top: 0;
    left: $shell_padding;
    transform: translateY(-50%);
    height: 70px;
    padding: 0 10px;

    &.dark {
        top: 50px;
    }
}

.mobileShell {
    background-color: $black;
    position: relative;
    min-height: 100vh;
    overflow-y: auto;

    &_header {
        width: 100vw;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        &_menu {
            cursor: pointer;
        }
    }

    &_mobileMenu {
        position: fixed;
        background-color: $white;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 1;

        & > .mobileShell_header .icon {
            height: 22px;
            position: relative;
            right: 5px;
            filter: invert(0%) sepia(0%) saturate(7468%) hue-rotate(311deg) brightness(111%) contrast(102%);
        }

        &__language-selector {
            margin-top: 50px;
            height: unset !important;
            justify-content: center;
        }
    }

    & > .mobileShell_header .icon {
        height: 35px;
        filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(246deg) brightness(111%) contrast(101%);
    }
}