.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_icon {
        border: 2px solid $white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        &.dark {
            border: 2px solid $black;
        }
        
        &__text {
            color: $white;

            &.dark {
                color: $black;
            }
        }
    }

    &_wordMark {
        margin-left: 10px;
        color: $white;
        font-weight: 600;

        &.dark {
            color: $black;
        }
    }
}