/* Error: Undefined mixin.
 *    ,
 * 35 | /         @include media-breakpoint-down($sm) {
 * 36 | |             padding-top: 0;
 * 37 | \         }
 *    '
 *   src\components\career\career.scss 35:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 35 \2502  \250c          @include media-breakpoint-down($sm) {\a 36 \2502  \2502              padding-top: 0;\a 37 \2502  \2514          }\a    \2575 \a   src\\components\\career\\career.scss 35:9  root stylesheet";
}
