.contact {
    color: $white;
    transition: color 1s ease-in-out;

    @include media-breakpoint-down($sm) {
        padding-bottom: 50px;
    }

    &--black {
        color: $black
    }

    &_title {
        width: 100%;
        text-align: center;
        padding-top: 80px;

        @media (max-height: 950px) {
            padding-top: 60px;
        }

        @include media-breakpoint-down($sm) {
            padding: 0;
        }

        h2 {
            font-weight: 700;
            @include font-size(60px);

            @include media-breakpoint-down(1300px) {
                @include font-size(50px)
            }

            @include media-breakpoint-down($sm) {
                @include font-size(60px);
            }

            @include media-breakpoint-down($xxs) {
                @include font-size(50px);
            }
        }
    }

    &_content {
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 200px;
        box-sizing: border-box;

        @media (max-height: 950px) {
            margin-top: 50px;
        }

        @media (max-width: 1650px) {
            padding: 0 100px;
        }

        @media (max-width: 1300px) {
            margin-top: 40px;
            flex-direction: column;
        }

        @include media-breakpoint-down($sm) {
            padding: 0 25px;
        }

        &__container, .content {
            width: 500px;
            position: relative;

            @media (max-width: 1300px) {
                width: 100%;
            }

            &_infos {
                display: flex;
                flex-direction: column;

                @media (max-width: 1300px) {
                    flex-direction: row;
                    margin-top: 60px;
                    justify-content: space-between;
                }

                @include media-breakpoint-down($sm) {
                    margin-top: 75px;
                    flex-direction: column;
                    justify-content: unset;
                }

                &__block {
                    &:not(:first-child) {
                        margin-top: 75px;
                    }

                    @media (max-width: 1300px) {
                        &:not(:first-child) {
                            margin-top: 0;
                        }
                    }

                    &.block-socials {

                        .content_title {
                            @media (max-width: 1100px) {
                                display: none;
                            }

                            @include media-breakpoint-down($sm) {
                                display: block;
                            }
                        }

                        .content_socials {
                            @media (max-width: 1100px) {
                                position: absolute;
                                top: 0;
                                right: 0;
                                flex-direction: column;
                                margin-top: 0;

                                &__item:not(:first-child) {
                                    margin: 20px 0 0 0;
                                }
                            }

                            @include media-breakpoint-down($sm) {
                                position: relative;
                                flex-direction: row;
                                margin-top: 50px;
                                justify-content: flex-start;

                                &__item:not(:first-child) {
                                    margin: 0 0 0 20px;
                                }
                            }
                        }

                        @include media-breakpoint-down($sm) {
                            margin-top: 75px;
                        }
                    }

                    &.block-contact {
                        @media (max-width: 1100px) {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                }
            }

            &_title {
                text-align: right;
                position: relative;
                padding-bottom: 10px;
                @include font-size(22px);
                stroke-dashoffset: 25px;

                @media (max-width: 1300px) {
                    @include font-size(20px);
                    text-align: left;
                }

                @include media-breakpoint-down($sm) {
                    @include font-size(30px);
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 75px;
                    height: 2px;
                    background-color: $white;
                    bottom: -5px;
                    transition: background-color 1s ease-in-out;
                }

                &--align-right::after {
                    right: 0;

                    @media (max-width: 1300px) {
                        left: 0;
                    }
                }

                &--black::after {
                    background-color: $black;
                }
            }

            &_form {
                width: 100%;
                margin-top: 75px;
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas:    "form-firstname form-lastname"
                                        "form-email form-object"
                                        "form-content form-content"
                                        "form-submit form-submit";
                grid-gap: 50px;

                @media (max-width: 1300px) {
                    margin-top: 50px;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 30px;
                    grid-template-areas:
                        "form-firstname form-lastname form-email form-object"
                        "form-content form-content form-content form-content"
                        "form-submit form-submit form-submit form-submit";
                }

                @include media-breakpoint-down($sm) {
                    margin-top: 75px;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 50px;
                    grid-template-rows: auto;
                    grid-template-areas:    "form-firstname form-lastname"
                                            "form-email form-object"
                                            "form-content form-content"
                                            "form-submit form-submit";
                }

                @include media-breakpoint-down($xs) {
                    margin-top: 75px;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    grid-template-areas:    "form-firstname"
                                            "form-lastname"
                                            "form-email"
                                            "form-object"
                                            "form-content"
                                            "form-submit";
                }

                .form-firstname {
                    grid-area: form-firstname;
                }

                .form-lastname {
                    grid-area: form-lastname;
                }

                .form-email {
                    grid-area: form-email;
                }

                .form-object {
                    grid-area: form-object;
                }

                .form-content {
                    grid-area: form-content;
                }

                .form-submit {
                    grid-area: form-submit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &_status {
                        position: absolute;
                        @include font-size(15px);
                        bottom: -40px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        text-align: center;

                        @media (max-width: 1300px) {
                            bottom: -30px;
                        }

                        @include media-breakpoint-down($sm) {
                            bottom: -40px;
                            @include font-size(20px);
                        }

                        &--success {
                            color: $green;
                        }

                        &--failed {
                            color: $red;
                        }
                    }
                }
            }

            &_contact {
                margin-top: 75px;
                width: 100%;
                display: flex;
                height: 80px;
                @include font-size(20px);
                justify-content: flex-end;

                @media (max-width: 1300px) {
                    margin-top: 50px;
                    justify-content: flex-start;
                    height: 70px;
                    @include font-size(17px);
                }

                @include media-breakpoint-down($sm) {
                    margin-top: 75px;
                    @include font-size(25px);
                }

                &__meta-title {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: $white;
                }

                &__meta-infos {
                    height: 100%;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: $yellow;
                }
            }

            &_socials {
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;

                &__item {
                    height: 70px;
                    width: 70px;
                    background-color: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: background-color 1s ease-in-out;

                    &--black {
                        background-color: $black;
                    }

                    @media (max-width: 1100px) {
                        height: 50px;
                        width: 50px;
                    }

                    &:not(:first-child) {
                        margin-left: 30px;
                    }

                    &___logo {
                        width: 50px;
                        height: 50px;
                        background-color: $black;

                        @media (max-width: 1100px) {
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}