html {
    font-size: 90.0%;

    @include media-breakpoint-down($lg) {
        font-size: 85%;
    }

    @include media-breakpoint-down($md) {
        font-size: 75%;
    }

    @include media-breakpoint-down($sm) {
        font-size: 60%;
    }

    @include media-breakpoint-down($xs) {
        font-size: 50%;
    }
}

body, .app {
    background-color: $black;
    font-family: "Montserrat", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
        "Droid Sans Mono", monospace, monospace;
    height: 100vh;
    width: 100vw;

    &.stop-scrolling {
        height: 100%;
        overflow: hidden;
    }
}

.tab-content {
    height: 100%;
    width: 100%;

    @include media-breakpoint-down($sm) {
        height: unset;
        box-sizing: border-box;
        padding: 100px 20px 0 20px;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: $black; 
    border-radius: 10px;
  }