/** Palette **/
.animation-fade-enter {
  opacity: 0;
}
.animation-fade-enter-active {
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;
}
.animation-fade-enter-done {
  opacity: 1;
}
.animation-fade-exit {
  opacity: 1;
}
.animation-fade-exit-active {
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;
}
.animation-fade-exit-done {
  opacity: 0;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("/fonts/Montserrat-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/fonts/Montserrat-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: black;
  font-family: "Montserrat", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.loader {
  color: white;
  height: 100px;
  width: 100px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.loader svg rect {
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 80px;
  animation: loader_dash 5s ease-in-out infinite;
}
.loader_txt {
  font-size: 55px;
  font-weight: 300;
}

@keyframes loader_dash {
  to {
    stroke-dashoffset: 960;
  }
}
.shell {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.shell svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.shell svg rect {
  stroke: white;
  stroke-width: 3px;
  width: 100%;
  height: 100%;
  fill: none;
  transition: stroke-dashoffset 1.5s ease-in-out;
}
.shell svg.animation-stroke-appear-active rect, .shell svg.animation-stroke-appear-done rect {
  stroke-dashoffset: 0 !important;
}
.shell .stroke-hidder {
  position: absolute;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shell_logo {
  top: 0;
  left: 100px;
  transform: translateY(-50%);
  height: 70px;
  width: 200px;
}
.shell_language {
  bottom: 0;
  right: 100px;
  transform: translateY(50%);
  height: 30px;
  padding: 0 10px;
}
.shell_contact-btn {
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  height: 60px;
  padding: 0 10px;
}

.navbar {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  transform: rotate(-90deg) translateX(-50px);
  transform-origin: top left;
}
.navbar_container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.navbar_container__item {
  padding: 0 15px;
  color: white;
  height: 100%;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
}
.navbar_container__item.selected {
  font-weight: 600;
}
.navbar_underline {
  position: fixed;
  background-color: white;
  height: 2px;
  top: 40px;
  transition: all 0.5s ease-in-out;
}

.button {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  border: 2px solid white;
  background-color: black;
  color: white;
  box-sizing: content-box;
  padding: 0 30px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: black;
}

.language-selector {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.language-selector_locale {
  color: white;
  cursor: pointer;
}
.language-selector_locale--selected {
  font-weight: 700;
}
.language-selector_separator {
  background-color: white;
  width: 1px;
  height: 15px;
  margin: 0 10px;
}
