/** Palette **/
.animation-fade-enter {
  opacity: 0;
}
.animation-fade-enter-active {
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;
}
.animation-fade-enter-done {
  opacity: 1;
}
.animation-fade-exit {
  opacity: 1;
}
.animation-fade-exit-active {
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;
}
.animation-fade-exit-done {
  opacity: 0;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("/fonts/Montserrat-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/fonts/Montserrat-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
}
.bold {
  font-weight: 600;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 90%;
}
@media (max-width: 1200px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

body, .app {
  background-color: black;
  font-family: "Montserrat", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.tab-content {
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .tab-content {
    height: unset;
    margin-top: 60px;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.loader {
  color: white;
  height: 100px;
  width: 100px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.loader svg rect {
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 80px;
  animation: loader_dash 5s ease-in-out infinite;
}
.loader_txt {
  font-size: 3.4375em;
  font-weight: 300;
}

@keyframes loader_dash {
  to {
    stroke-dashoffset: 960;
  }
}
.shell {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.shell svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.shell svg rect {
  stroke: white;
  stroke-width: 3px;
  height: 100%;
  fill: none;
  transition-property: width, stroke-dashoffset;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
}
.shell svg rect.half {
  width: 50%;
}
.shell svg.animation-stroke-appear-active rect, .shell svg.animation-stroke-appear-done rect {
  stroke-dashoffset: 0 !important;
}
.shell_language {
  bottom: 0;
  right: 100px;
  transform: translateY(50%);
  height: 30px;
  padding: 0 10px;
}
.shell_contact-btn {
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  height: 90px;
  padding: 0 10px;
  z-index: 3;
}
.shell_recover {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  transition: height 1s ease-in-out;
  overflow: hidden;
}
.shell_recover__content, .shell_recover .recover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.shell_recover__content_border, .shell_recover .recover_border {
  position: absolute;
  top: 50px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}

.stroke-hidder {
  position: absolute;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stroke-hidder.dark {
  background-color: white;
}

.shell_logo {
  top: 0;
  left: 100px;
  transform: translateY(-50%);
  height: 70px;
  padding: 0 10px;
}
.shell_logo.dark {
  top: 50px;
}

.mobileShell {
  background-color: black;
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
}
.mobileShell_header {
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileShell_header_menu {
  cursor: pointer;
}
.mobileShell_mobileMenu {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.mobileShell_mobileMenu > .mobileShell_header .icon {
  height: 22px;
  position: relative;
  right: 5px;
  filter: invert(0%) sepia(0%) saturate(7468%) hue-rotate(311deg) brightness(111%) contrast(102%);
}
.mobileShell_mobileMenu__language-selector {
  margin-top: 50px;
  height: unset !important;
  justify-content: center;
}
.mobileShell > .mobileShell_header .icon {
  height: 35px;
  filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(246deg) brightness(111%) contrast(101%);
}

.navbar {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  transform: rotate(-90deg) translateX(-50px);
  transform-origin: top left;
}
.navbar_container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar_container__item {
  padding: 0 15px;
  color: white;
  height: 100%;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 1em;
  cursor: pointer;
}
.navbar_container__item.selected {
  font-weight: 600;
}
.navbar_container__item.dark {
  color: black;
}
.navbar_underline {
  position: fixed;
  background-color: white;
  height: 2px;
  transition: all 0.5s ease-in-out;
}
.navbar_underline.dark {
  background-color: black;
}

.button {
  height: 60px;
  line-height: 60px;
  font-size: 1.25em;
  border: 2px solid white;
  background-color: black;
  color: white;
  box-sizing: content-box;
  padding: 0 30px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: black;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo_icon {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.logo_icon.dark {
  border: 2px solid black;
}
.logo_icon__text {
  color: white;
}
.logo_icon__text.dark {
  color: black;
}
.logo_wordMark {
  margin-left: 10px;
  color: white;
  font-weight: 600;
}
.logo_wordMark.dark {
  color: black;
}

.language-selector {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.language-selector_locale {
  color: white;
  cursor: pointer;
}
.language-selector_locale--selected {
  font-weight: 700;
}
.language-selector_separator {
  background-color: white;
  width: 1px;
  height: 15px;
  margin: 0 10px;
}
.language-selector--dark .language-selector_locale {
  color: black;
}
.language-selector--dark .language-selector_separator {
  background-color: black;
}

.mobile-navbar {
  margin-top: 100px;
  width: 100%;
}
.mobile-navbar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-navbar_container__item {
  font-size: 1.25em;
  color: black;
  padding-bottom: 25px;
  text-transform: capitalize;
}
.mobile-navbar_container__item--selected {
  font-weight: 600;
}

.home {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    justify-content: unset;
    height: calc(100vh - 60px);
    padding-top: 60px;
  }
}
.home_content {
  flex-grow: 1;
  color: white;
  margin-left: 100px;
}
@media (max-width: 768px) {
  .home_content {
    margin-left: unset;
  }
}
.home_content__main-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.home_content__main-content h1 {
  font-size: 3.75em;
  padding-bottom: 20px;
}
.home_content__main-content h2 {
  font-size: 3.125em;
  padding-bottom: 10px;
}
.home_content__main-content h2 .yellow {
  color: #fca311;
}
.home_content__main-content h4 {
  position: absolute;
  left: 0;
  bottom: -60px;
  font-size: 1.5625em;
}
.home_image {
  width: 390px;
  height: unset;
  background-color: grey;
  box-sizing: border-box;
  padding: 2px;
}
.home_image img {
  width: 100%;
}
.home_contact {
  height: 20px;
  width: 20px;
  background-color: blue;
}
